<%= stylesheet_link_tag "application" %>
<%= link_to 'Tic-Tac-Tien', root_path %>
<div id="board"><%= simple_format(@board) %></div>
<% if @winner %>
Player '<%= @winner %>' wins!
<% else %>
<%= render 'form', :player => @player %>
<% end %>
